# SBT
target/
.history
.cache
.lib/
project/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

### Intellij
*.iml
.idea/
### Scala ###
*.class
*.log
logs/
server/logs/

# OSX
.DS_Store
